body{
  margin:0;
  font-family:'Segoe UI',cursive;
  color:white;
  text-align:center;
  transition:background 0.6s ease;
}

/* THEMES */
body.theme-1{background:linear-gradient(135deg,#ffd1dc,#cdb4ff);}
body.theme-2{background:linear-gradient(135deg,#0b0033,#1b004d);}
body.theme-3{background:linear-gradient(135deg,#00c6ff,#0072ff);}
body.theme-4{background:linear-gradient(135deg,#ffb347,#ffcc33);}

button{
  background:#ff4d88;
  border:none;
  padding:10px 16px;
  border-radius:20px;
  color:white;
  margin:5px;
  cursor:pointer;
}

textarea{
  width:80%;
  height:80px;
  border-radius:12px;
}

.envelopes{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.envelope{
  width:120px;
  height:80px;
  background:#d63384;
  margin:15px;
  border-radius:8px;
  cursor:pointer;
}

.envelope.final{
  border:3px solid gold;
  box-shadow:0 0 15px gold;
}

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal.active{display:flex;}

.modal-content{
  background:#ffb3d9;
  padding:20px;
  border-radius:20px;
}

.firework{
  position:fixed;
  font-size:30px;
  animation:boom 1.2s forwards;
}

@keyframes boom{
  to{transform:scale(2);opacity:0;}
}
